@import url('https://fonts.googleapis.com/css?family=Roboto|Bungee');
*{
  box-sizing: border-box;
  outline: none;
}
html{
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width : 320px) {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;

    background: #000000;
    /* background: -moz-linear-gradient(top, #000000 0%, #601a1a 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#601a1a 100%);
    background: linear-gradient(to bottom, #000000 0%,#601a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#601a1a',GradientType=0 ); */
    background-image: url("./assets/cinema_bg.jpg");
    background-size: cover;
    background-position: center top;
        background-size: auto 470px;
    background-repeat: no-repeat;
  }
}
.movie_body{
  background-image: url("./assets/cinema_bg.jpg");
}
.tv_body{
  background-image: url("./assets/tv_bg.jpg");
}
@media only screen and (min-width : 375px) {
  body {
    background-size: auto 530px;
  }
}
@media only screen and (min-width : 414px) {
  body {
    background-size: auto 560px;
  }
}

@media only screenand (min-width : 768px){

}

@media only screen and (min-width : 1024px) {
  body {
    background-size: auto 640px;
  }
}
@media only screen and (min-width : 1280px) {
  body {
    background-size: auto 800px;
  }



}
@media only screen and (min-width : 1366px) {
}
@media only screen and (min-width : 1900px) {
}
