@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Cookie');
body {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 0%, rgba(54, 231, 249, 0.15) 100%), url('./assets/bg_5.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
